/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: right;
	width: 100%;
	position: relative;
}

#sideRight .playingButton{
    background: url("../img/playing/playButton.png");
    right: 70px;
}

#sideRight .downloadButton{
    background: url("../img/playing/download.png");
    right: 50px;
}

#sideRight .addButton{
    background: url("../img/playing/add.png");
    right: 30px;
}

#sideRight .removeButton{
    background: url("../img/playing/remove.png");
    right: 10px;
}
#sideRight #listSongsPlaying .playingButton,
#sideRight #listSongsPlaying .downloadButton,
#sideRight #listSongsPlaying .addButton,
#sideRight #listSongsPlaying .removeButton{
    background-size: 100% 100%;
    height: 18px;
    width: 18px;
    position: absolute;
    margin-top: 5px;
}
#sideRight #listSongsPlaying .playingMark {
    background: blue;
    color: white;
}

#sideRight #listSongsPlaying{
    height: 156px;
}

#sideRight #listSongsPlaying li{
    border-top: solid rgb(48, 48, 48) 1px;
    line-height: 30px;
    text-indent: 30px;
}
#sideRight #listSongsPlaying li:last-child{
    border-bottom: solid rgb(75, 75, 75) 1px;
}

#sideRight .jspTrack{
    background: rgb(0, 0, 0);
}

#sideRight .jspDrag {
    background: rgb(94, 94, 99);
    border-radius: 8px;
    margin: 0px 3px;
}