#header {
    #topHeader{
        height: 20px;
    }
    #botHeader {
        background: url("../img/banner.jpg");
        height: 151px;
        background-size: 100%;
        position: relative;
    }
}
