#header {
    #topHeader{
        height: 20px;
    }
    .tableAlbums{
        width: 100%;
        /*background: #adff2f;*/
        /*border-collapse: collapse;*/
        tr {

        }

        td {
            width: 105px;
            height: 71px;
            background-size: 100% 100%;
        }

    }
}
