/* 
    Document   : detailproduct
    Created on : 01-07-2012, 14:08:15
    Author     : LVTD
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*{
    margin: 0;
    padding: 0;
}
#info_product { 
    margin: auto;
    width:1000px; 
    background: url(../images/bg-detail.jpg) no-repeat;
    background-position: center top;
    display: inline-block;
    text-align: justify;
} 
#dpr_center { 
    float:left; 
    width:450px; 
    margin: 10px 0;
    line-height: 22px;
    color: #4C4C4C;
} 
#dpr_left { 
    float:left; 
    width:260px; 
    margin: 10px 0 10px 10px;
} 
#dpr_right { 
    float:right; 
    width:260px;
    margin: 10px 10px 10px 0;

} 
#dpr_center #dpr_titleProduct{
    font-size: 18px;
    border-bottom: #000099 2px solid; 
    margin-bottom: 20px;
}
#dpr_center .dpr_maininfo ul{
    display: block;
    color: #444;
    list-style: none;
    /*    border: 1px solid #EEE;
        background-color: #F7F7F7;*/
    position: relative;
    margin: 10px;
    padding-left: 10px;

}
#dpr_center .dpr_maininfo ul li label{
    display: block;
    float: left;
    width: 150px;
    color: #8B8A8A;
    font-weight: bold;
}
#dpr_center .dpr_hotinfo ul{
    display: block;
    list-style: none;
    border: 1px solid #FFE8CC;
    padding: 6px 22px 6px 7px;
    background-color: #FEFBEE;
    color: #C7870B;
    position: relative;
    margin: 10px;
    padding-left: 10px;
}
#dpr_center .dpr_hotinfo ul li label{
    display: block;
    float: left;
    width: 150px;
    color: #C7870B;
    font-weight: bold;
}

#dpr_center .dpr_hotinfo ul li span.dpr_hif{
    color: #ff6600;
    font-weight: bold;
}

#dpr_carousel li{
    text-decoration:none;
    display: inline-block;
}

#dpr_right .dpr_sellerinfo ul{
    display: block;
    list-style: none;
    border: 1px solid #FFE8CC;
    padding: 6px 22px 6px 7px;
    background-color: #FEFBEE;
    color: #C7870B;
    position: relative;
    margin: 10px;
    padding-left: 10px;
}
#dpr_right .dpr_sellerinfo label{
    display: block;
    float: left;
    color: #C7870B;
}


/*
#detailproduct{
    text-align: center;
    width: 1000px;
    margin: auto;
    height: 500px;
}
.dpr_center{
    width: 390px;
        margin-left: 305px;
    display: inline;
    margin: 0 auto;
    position:relative;
    background: #0000FF;
    height: 500px;
}
.dpr_left{
    width: 300px;
    float: left;

    background: crimson;
    height: 500px;
}
.dpr_right{
    width: 300px;
    float: right;

    background: orange;
    height: 500px;
}*/
