/* 
    Document   : postproduct
    Created on : Jun 27, 2012, 1:56:02 PM
    Author     : LVTD
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*--------------------------------chọn ảnh------------------------------------*/
#postproduct{
    width: 980px;
    margin: auto;
    margin-top: 50px;
    background: #fff;
}
#postproduct .postproduct-content{
/*    height: 385px;*/
    border: 0.5px solid #30669E;
    /*    .........IE........*/
    border: solid #30669E;
    border-width: 1px 1px 1px 1px;
    /*    .................*/
    text-align: left;
    margin: -1em -1.4em;  /*chống lại padding của jui*/
}
#postproduct .general_info .postproduct-content .ppr_categories{
    border: 1px solid #C9C9C9;
    width: 300px;
}
/*----------------------------------Step01-------------------------------------*/
/*----------------------------------Step02-------------------------------------*/
